.wrapper{
    padding-top: 163px;
    
}

.title{
    font-weight: 500;
        font-size: 70px;
        line-height: 1;
        letter-spacing: -0.03em;
        color: #fbfbfb;
        margin-bottom: 28px;
        width: 517px;
}

.text{
        font-weight: 400;
        font-size: 28px;
        line-height: 1.07143;
        letter-spacing: -0.02em;
        color: #fbfbfb;
        margin-bottom: 64px;
}

.btn{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 18px;
        border: 1px solid rgba(251, 251, 251, 0.4);
        border-radius: 30px;
        width: 230px;
        height: 60px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: -0.01em;
        color: #fbfbfb;
}

.exp{
    width: 284px;
    height: 118px;
    background-color: #fbfbfb;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.check{
    border-radius: 13px;
    width: 54px;
    height: 54px;
    background-color: var(--dark-green);
}

.expInfo{
display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 6px;
}

.expText{
    font-weight: 400;
    font-size: 16px;
    color: rgba(17, 16, 28, 0.5);
}

.expValue{
    font-weight: 700;
    font-size: 24px;
       
}

