.container{
 
    padding: 0 128px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
        
}

@media (max-width: 1024px) {
    .container {
        padding: 0 64px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 32px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 16px;
    }
}