.home{
min-height: 800px;
position: relative;
padding-top: 52px;
z-index: 1;
    
}


.background{
background: url("../../assets/bg.webp") right center no-repeat,
        var(--dark-green);
    border-radius: 30px;
    position: absolute;
    top: 32px;
        left: 50%;
            
            transform: translateX(-50%);
        width: 1376px;
       
        height: 736px;
        z-index: 0;
}