.nannies{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.btn{
   
    background-color: var(--dark-green);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 159px;
    height: 48px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.01em;
    color: #fbfbfb;

}

.moreWrapper {
    margin-top: 64px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.notFound{
    margin-top: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.1;
    color:var(--dark-green);
}