:root {
    --dark-green: #103931;
    --light-green: rgba(16, 57, 49, 0.2);
    --main-font: "Helvetica Neue", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: var(--main-font);
    font-size: 16px;
    color: inherit;
}

ul,
li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font: inherit;
    color: inherit;
}